* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
.post-main {
  display: flex;
}
.avatar-main {
  width: 300px;
  height: 300px;
  margin: 0 20px;
}
.post-share {
  max-width: 700px;
  width: 100%;
  padding: 20px;
}

.post-header {
  display: flex;
}

.post-head {
  margin: 10px 0;
  padding-bottom: 20px;
  font-size: 24px;
  font-weight: 700;
  width: 80%;
}
.inp-post,
.inp-image {
  width: 100%;
  margin: 10px 0;
  border: none;
  padding: 5px;
}
.inp-btn {
  width: 100px;
  margin-top: 20px;
  border-radius: 25px;
  padding: 10px;
  background-color: #35b4e6;
  border: none;
  color: #fff;
  font-weight: 700;
}
.form-post {
  padding-top: 20px;
}
.post-img {
  width: 30px;
}
.tweeter-icon {
  width: 50px;
  height: 50px;
}
.tweet {
  width: 700px;
  margin: 50px auto;
}
.post-image {
  width: 700px;
}
.avatar {
  width: 70px;
  border-radius: 50px;
}

.tweet-list {
  margin: 20px 0;
}
.tweet-post {
  margin: 20px 0;
}
.btn-delete img,
.btn-edit img,
.btn-comments img,
.btn-views img,
.btn-likes img {
  width: 30px;
  height: auto;
}
.btn-delete,
.btn-edit,
.btn-comments,
.btn-views,
.btn-likes {
  border: none;
  background: transparent;
  padding: 10px;
}
.tweet span {
  padding: 5px;
  color: grey;
}
.edit-inp-post,
.edit-inp-image {
  width: 100%;
  margin-top: 20px;
  border: none;
}

.side-bar img {
  width: 20px;
  object-fit: contain;
  margin-right: 20px;
}

.side-bar a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.side-bar div {
  margin: 30px;
}

#side-bar__logo img {
  width: 35px;
  object-fit: contain;
}

.side-bar {
  margin-left: -250px;
  border-right: 1px solid gray;
}

.container {
  display: flex;
  justify-content: space-evenly;
}
.container-post {
  padding: 10px 0px;
}
.search-block {
  margin-top: 18px;
}

.pagination button {
  margin-right: 10px;
}

@media all and (max-width: 1160px) {
  .container-post {
    max-width: 300px;
  }
}

@media all and (max-width: 890px) {
  .container-post {
    max-width: 400px;
  }
  .container {
    display: flex;
    justify-content: space-around;
  }
  .side-bar {
    margin-left: 10px;
  }
  .post-image {
    width: 500px;
  }
}

@media all and (max-width: 770px) {
  .container-post {
    max-width: 300px;
  }
  .side-bar {
    margin-left: 10px;
  }
  .container {
    margin: 30px;
    display: flex;
    justify-content: space-between;
  }

  .tweet {
    width: 500px;
    margin: 20px auto;
  }
  .post-image {
    width: 300px;
  }

  .post-share {
    width: 400px;
    margin-left: 100px;
    margin-right: -110px;
  }

  .tweet-list button img {
    width: 15px;
    height: 15px;
  }
  .tweet-list img.avatar {
    width: 20px;
    height: 20px;
  }
  .tweet-post {
    margin: 5px;
  }
  .side-bar {
    width: 200px;
  }
  .side-bar img {
    width: 10px;
    object-fit: contain;
    margin-right: 10px;
  }

  .side-bar div {
    margin: 15px;
  }
  .side-bar a {
    font-weight: 500;
    font-size: 12px;
  }

  #side-bar__logo img {
    width: 20px;
    object-fit: contain;
  }

  .post-header h1 {
    font-size: 14px;
  }

  .form-post button {
    height: 25px;
    font-size: 12px;
    margin: 0px;
    padding: 0px;
  }

  .form-post input {
    margin: 0px;
    font-size: 12px;
  }

  .pagination {
    height: 30px;
    width: 100px;
  }
  .pagination button {
    width: 50px;
    height: 30px;
    font-size: 13px;
  }
  .tweet-list i {
    font-size: 11px;
  }
  ::placeholder {
    font-size: 12px;
  }
  /* .search-block {
    margin-top: 18px;
  } */
  .pagination {
    margin-top: -19px;
  }
}

@media all and (max-width: 680px) {
  .post-share {
    margin: 10px;
  }
  .inp-search {
    width: 150px;
    height: 25px;
  }

  .tweeter-icon {
    width: 35px;
    height: 35px;
  }
  .tweet-list {
    margin-left: 20px;
  }
}

@media all and (max-width: 450px) {
  .container {
    margin: 10px;
  }

  .side-bar div {
    margin: 10px;
    font-size: 10px;
  }
}

@media all and (max-width: 380px) {
  .side-bar a {
    font-size: 8px;
  }
  .post-header h1 {
    font-size: 12px;
  }

  .form-post button {
    height: 15px;
    font-size: 12px;
    margin: 0px;
    padding: 0px;
  }

  .form-post input {
    margin: 0px;
    font-size: 10px;
  }
}
